/*addNewCard style*/
.add_card_section {
  padding: 2.4rem 2.4rem 2.4rem;
}

.add_card_section .add_card_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.6rem;
}

.add_card_section .add_card_group .input_title {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--colorTitle);
  padding-bottom: .8rem;
}

.add_card_section .add_card_group .card_input {
  width: 100%;
  height: 5.2rem;
  background-color: var(--colorBgInput);
  border: 1px solid var(--colorBdInput);
  border-radius: 2.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--colorTitle);
  padding: 0 1.6rem;
}

.add_card_section .add_card_group .card_input::-webkit-input-placeholder {
  color: #9CA4AB;
}

.add_card_section .add_card_group .card_input:-ms-input-placeholder {
  color: #9CA4AB;
}

.add_card_section .add_card_group .card_input::-ms-input-placeholder {
  color: #9CA4AB;
}

.add_card_section .add_card_group .card_input::placeholder {
  color: #9CA4AB;
}

.add_card_section .add_card_group .card_input:focus {
  border-color: #514EB6;
}

.add_card_section .add_card_group.seperate_group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add_card_section .add_card_group .seperate_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - .8rem);
}

.btn.btn_add_card {
  bottom: 4rem;
}
