/*movieDetail style*/
.movie_detail_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem 4.2rem;
}

.movie_detail_section figure {
  width: 100%;
  padding: 0 3.3rem;
}

.movie_detail_section img {
  width: 100%;
}

.movie_detail_section .info_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
}

.movie_detail_section .info_box .movie_name {
  font-size: 2.4rem;
  padding-bottom: 1.6rem;
}

.movie_detail_section .info_box .info_block {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.6rem;
}

.movie_detail_section .info_box .info_block .date_text {
  padding-bottom: 0;
}

.movie_detail_section .info_box .info_block .category_text {
  color: var(--colorInfoText);
  padding-bottom: 0;
  padding-left: 2rem;
  background: url("../../image/light/icon/icon_film.png") no-repeat -0.1rem -0.1rem;
}

.movie_detail_section .info_box .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .6rem;
}

.movie_detail_section .info_box .star span {
  width: 1.4rem;
  height: 1.4rem;
}

.movie_detail_section .info_box .star span.on {
  background: url("../../image/light/img/img_star_on.png") no-repeat;
}

.movie_detail_section .info_box .star span.off {
  background: url("../../image/light/img/img_star_off.png") no-repeat;
}

.story_line_section {
  padding: 0 2.4rem 2.4rem;
}

.story_line_section .story_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story_line_section .story_area .story_text {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--colorInfoText);
  line-height: 2.2rem;
}

.story_line_section .story_area .story_text span {
  color: #514EB6;
  margin-left: .5rem;
}

.cast_crew_section {
  padding: 0 2.4rem 12rem;
}

.subscribe_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 10.1rem;
  background-color: var(--colorBody);
  -webkit-box-shadow: 40px 0px 60px rgba(124, 124, 124, 0.25);
          box-shadow: 40px 0px 60px rgba(124, 124, 124, 0.25);
  padding: 2.3rem 2.4rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.subscribe_section .price_info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe_section .price_info_box .price_title {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--colorPriceText);
}

.subscribe_section .price_info_box .price_value {
  font-weight: 800;
  font-size: 2rem;
  color: var(--colorTitle);
}

.subscribe_section .price_info_box .price_value span {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--colorSubText);
  margin-left: .2rem;
}

.subscribe_section .btn_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 14.6rem);
  height: 5.6rem;
  padding: 0 3.1rem;
  background-color: #514EB6;
  border-radius: 2.4rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #FEFEFE;
}

/*darkMode style*/
.dark .movie_detail_section .info_box .info_block .category_text {
  background-image: url("../../image/dark/icon/icon_film.png");
}
