/*radioButton style*/
input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    float: left;
    display: none;
}

input[type="radio"]:active+label:before {
    -webkit-transition-duration: 0;
    transition-duration: 0;
    -webkit-filter: brightness(0.2);
    filter: brightness(0.2);
}

input[type="radio"]+label {
    position: relative;
    padding: 0px 18.5px 0px 0px;
    padding-left: 1.6em;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="radio"]+label:before {
    box-sizing: content-box;
    content: "";
    color: transparent;
    position: absolute;
    top: 30%;
    right: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    border: 1px solid #E3E9ED;
    text-align: center;
}

input[type="radio"]+label:after {
    box-sizing: content-box;
    content: "";
    background-color: #514EB6;
    position: absolute;
    top: 35%;
    right: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

input[type="radio"]:checked+label:before {
    border-color: #514EB6;
}

input[type="radio"]:checked+.premium_value {
    border-color: #514EB6;
    background-color: var(--colorBgLabel);
}

input[type="radio"]:checked+label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

input[type="radio"]+label:before,
input[type="radio"]+label:after {
    border-radius: 50%;
}